body {
  background-image:radial-gradient(rgb(104, 104, 104),rgb(168, 168, 168),rgb(158, 158, 158));
  background-size: 100%;
  height: 100%;
}
.box {
  justify-content: center;
  padding-top: 10px;
}
.box1 {
  background-position: center;
  border: 3px solid rgb(238, 198, 124);
  margin-left: 30px;
  border-radius: 2vw;
  height: 30vw;
  background-image: url(CeaserAchievments.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}
.box2 {
  background-position: center bottom;
  border-radius: 2vw;
  border: 3px solid rgb(238, 198, 124);
  height: 30vw;
  background-image: url(CeaserImpact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}
.box3 {
  margin-right: 30px;
  border-radius: 2vw;
  border: 3px solid rgb(238, 198, 124);
  height: 30vw;
  background-image: url(CeaserLife.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}
.textb {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inv {
  opacity: 0%;
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  animation: flip 1s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}


#abs {
  margin: auto;
  font-size: 8vw;
  color: white;
  text-shadow: 0vw 0vw 1vw rgb(109, 88, 19);
}

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    top: 13vw;
    filter: url(#threshold) blur(0.6px);
    color: white;
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 10vw;
    text-align: center;
    user-select: none;
    text-align: center;
}
.box67 {
 background-color: black;  
 border-radius: 3vw; 
 width: 90vw;
 margin-left: 5vw;
 margin-top: 7vw;
 text-align: center;
 border: 0.4vw solid goldenrod;
 box-shadow: inset  1vw 1vw 3vw rgb(151, 134, 25);
 text-shadow: .5vw 1.5vw 2vw white;
}
#homebutton:hover {
scale: 1.15;
transition: 1.25s;
transition-timing-function: ease-out;
}
#image__title1 {
  opacity: 100%;
  color: white;
  text-shadow: .5vw 1.5vw 2vw rgb(255, 255, 255);
  font-size: 7vw;
  text-align: center;
  margin-top: 8vw;
  text-underline-offset:1000px;
}
a:link {
  color: #ffffff;
}
a:hover {
  color: #8b8b8b;
}
a:visited {
  color: #555555;
}
.normal {
  margin: 15px;
  margin-top: 80px;

}
#image__title2 {
  opacity: 100%;
  color: white;
  text-shadow: .5vw 1.5vw 2vw rgb(255, 255, 255);
  font-size: 5vw;
  text-align: center;
  margin-top: 8vw;
  text-underline-offset:1000px;
}
#image__title3 {
  opacity: 100%;
  color: white;
  text-shadow: .5vw 1.5vw 2vw rgb(255, 255, 255);
  font-size: 7vw;
  text-align: center;
  margin-top: 8vw;
  text-underline-offset:1000px;
}

.topway {
  color: black;
}